<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Idea App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="~/Content/Images/Logo.png" /></a>
            <!--@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">

                <ul class="navbar-nav ml-auto">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Ideas", "Index", "Ideas")</li>
                    <li>@Html.ActionLink("Topics", "Index", "Topics")</li>
                </ul>
            </div>
        </div>
    </nav>

    <!--- Image Slider -->
    <div id="slides" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#slides" data-slide-to="0" class="active"></li>
            <li data-target="#slides" data-slide-to="1"></li>
            <li data-target="#slides" data-slide-to="2"></li>

        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Content/Images/2.jpg" />
                <div class="carousel-caption">
                    <h1 class="display-2">Join us and share your idea</h1>
                    <button type="button" class="btn btn-idea btn-lg"> Collaborate On Ideas</button>
                    <button type="button" class="btn btn-topic btn-outline-light btn-lg"> Collaborate On Topics</button>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/Content/Images/3.jpg" />
            </div>
        </div>
    </div>


    <div class="container body-content">
        @RenderBody()

    </div>
    <hr />
    <!--- Footer -->
    <footer>
        <div class="container-fluid padding">
            <div class="row text-center">
                <div class="col-md-4">
                    <h4>ADDRESS</h4>
                    <hr class="light" />
                    <p>1550 Sherberook</p>
                </div>
                <div class="col-md-4">
                    <h4>PHONE</h4>
                    <hr class="light" />
                    <p>514-505-5955</p>
                </div>
                <div class="col-md-4">
                    <h4>EMAIL</h4>
                    <hr class="light" />
                    <p>email@idea.com</p>
                </div>

                <div class="col-12">
                    <hr class="light" />
                    <h5>&copy; www.idea.com</h5>
                </div>

            </div>
        </div>

    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>-->
